p {
  margin: 0;
}

.top-bar {
  // display: flex;
  // justify-content: space-between;
  // align-items: flex-end;
  margin: 38px 54px 24px 20vw;
}

.today-date {
  margin: 0;
}

#get-location {
  position: relative;
  left: 45px;
}

.btn {
  border-radius: 6px
}

.search-bar {
  display: flex;
  // :nth-child(n) {
  //   margin: 2px;
  // }
  :nth-child(2) {
  }
}

#address-input {
  // width: 25vw;
  border-radius: 6px;
  padding: 20px 10px;
}

.side-bar {
  width: 30vw;
}

.weather-details {
  width: 80vw;
  height: 70vh;
  background-color: #BF366D;
  border-top-left-radius: 30px;
  position: fixed;
  bottom: 0;
  right: 0;
}
