p {
  margin: 0;
}

.top-bar {
  margin: 4rem 0 1rem 4rem;
}

// 950 px for max width

.inputs {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  :nth-child(n) {
    margin-right: 0.5rem;
  }
  :nth-child(2) {
    // margin-right: 1rem;
    width: auto;
  }
}

@media (max-width: 950px) {
  .inputs {
    flex-direction: column;
    align-items: flex-start;
    :nth-child(odd) {
      margin-bottom: 0.5rem;
    }
  }
}

.today-date {
  margin: 0;
}

#get-location {
  i {
    margin: 0;
  }
}

.btn {
  border-radius: 6px;
}

.search-bar {
  display: flex;
  // :nth-child(n) {
  //   margin: 2px;
  // }
  :nth-child(2) {
  }
}

#address-input {
  // width: 25vw;
  border-radius: 6px;
  padding: 7px 10px;
}
