<div class="wrap-title">
  <h1 class="home">Quel temps fait-il aujourd'hui ?</h1>
  <%= link_to "Voir le temps", "/weather", class: "btn btn-ghost" %>
</div>
<!-- <div class="home-video-wrapper">
  <%#= video_tag "home.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>
</div> -->
