<div class="wrap-title">
  <h1 class="home">What's the weather like today?</h1>
  <%= link_to "Enter", "/weather", class: "btn btn-ghost" %>
</div>
<!-- <div class="home-video-wrapper">
  <%#= video_tag "home.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "home_video" %>
</div> -->
