<div class="top-bar">
  <div>
    <h1 id="city">Hello!</h1>
    <p class="today-date">Today's <%= Date.today.strftime("%B %d, %A") %>.</p>
  </div>
  <div class="inputs">
    <%= link_to '', class: 'btn btn-primary round', id: 'get-location' do %>
      <i class="fas fa-location-arrow"></i>
    <% end %>
    <input type="search" id="address-input" placeholder="Enter a city name" />
    <input type="submit" id="address-btn" value="Get the weather" class="btn btn-primary">
  </div>
</div>

<div class="weather-container">
  <div class="row">
    <div class="col-3 p-0 m-0">
      <%= render 'components/side_bar_days' %>
    </div>
    <div class="col-9 p-0 m-0">
      <%= render 'components/weather_details' %>
    </div>
  </div>
</div>
